{% extends "base.html.twig" %}
{% block body %}
    {{ form_start(form) }}

    {% for reader in form.readers %}
        Reader {{ reader.vars.value.id }}

        <div class="row readerRow" data-id="{{ reader.vars.value.id }}">
            <div class="input-field col l1 s11">
                {{- form_widget(reader.ip) -}}
                {{- form_label(reader.ip) -}}
                {{- form_errors(reader.ip) -}}
            </div>
            <div class="input-field col s1 center-align server-connect">
                <i id="server-connect-icon{{ reader.vars.value.id }}" class="server-connect-btn small material-icons red-text"
                   data-id="{{ reader.vars.value.id }}">cancel</i>
                <div class="preloader-wrapper small active server-connect-progress"
                     id="server-connect-progress{{ reader.vars.value.id }}" style="display:none;">
                    <div class="spinner-layer spinner-yellow-only">
                        <div class="circle-clipper left">
                            <div class="circle"></div>
                        </div>
                        <div class="gap-patch">
                            <div class="circle"></div>
                        </div>
                        <div class="circle-clipper right">
                            <div class="circle"></div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="input-field col l1 s6">
                <input readonly id="read{{ reader.vars.value.id }}" type="text" value="0">
            </div>
            <div class="input-field col l1 s6">
                <input readonly id="lastread{{ reader.vars.value.id }}" type="text" value="00:00:00">
            </div>
            <div class="input-field col l4 s12">
                {{- form_widget(reader.timingPoint) -}}
                {{- form_label(reader.timingPoint) -}}
                {{- form_errors(reader.timingPoint) -}}
            </div>

            <div class="input-field col l4 s12">
                <div class="switch">
                    <label>
                        Off
                        {{- form_widget(reader.readingStatus) -}}
                        <span class="lever"></span>
                        On
                    </label>
                </div>
                {{- form_errors(reader.readingStatus) -}}
            </div>
        </div>
    {% endfor %}
    {{ form_end(form) }}
{% endblock %}

{% block title %}

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        $( document ).ready(function() {
            var readers = window.readers;
            {% for reader in form.readers -%}
            readers[{{ reader.vars.value.id }}].id = {{ reader.vars.value.id }};
            readers[{{ reader.vars.value.id }}].ip = {{ reader.vars.value.ip }};
            readers[{{ reader.vars.value.id }}].timingPoint = "{{ reader.vars.value.timingPoint }}";
            readers[{{ reader.vars.value.id }}].readingStatus = {{ reader.vars.value.readingStatus }};
            readers[{{ reader.vars.value.id }}].connectionStatus = {{ reader.vars.value.connectionStatus }};
            {% endfor -%}
        });
    </script>
{% endblock %}
