{% extends "base.html.twig" %}
{% block body %}
    {{ form_start(form) }}
    {% for reader in form.readers %}
        Reader {{ loop.index }}

        <div class="row">
            <div class="input-field col l1 s11">
                {{- form_widget(reader.ip) -}}
                {{- form_label(reader.ip) -}}
                {{- form_errors(reader.ip) -}}
            </div>
            <div class="input-field col s1 center-align server-connect">
                <i id="server-connect-icon{{ loop.index }}" class="server-connect-btn small material-icons red-text"
                   data-id="{{ loop.index }}">cancel</i>
                <div class="preloader-wrapper small active server-connect-progress"
                     id="server-connect-progress{{ loop.index }}" style="display:none;">
                    <div class="spinner-layer spinner-yellow-only">
                        <div class="circle-clipper left">
                            <div class="circle"></div>
                        </div>
                        <div class="gap-patch">
                            <div class="circle"></div>
                        </div>
                        <div class="circle-clipper right">
                            <div class="circle"></div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="input-field col l1 s6">
                <input readonly id="read{{ loop.index }}" type="text" value="0">
            </div>
            <div class="input-field col l1 s6">
                <input readonly id="lastread{{ loop.index }}" type="text" value="00:00:00">
            </div>
            <div class="input-field col l4 s12">
                {{- form_widget(reader.timingPoint) -}}
                {{- form_label(reader.timingPoint) -}}
                {{- form_errors(reader.timingPoint) -}}
            </div>

            <div class="input-field col l4 s12">
                <div class="switch">
                    <label>
                        Off
                        {{- form_widget(reader.status) -}}
                        <span class="lever"></span>
                        On
                    </label>
                </div>
                {{- form_errors(reader.status) -}}
            </div>
        </div>
    {% endfor %}
    {{ form_end(form) }}
{% endblock %}

{% block title %}

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        $('.server-connect-btn').click(function () {
            var $btn = $(this);
            var id = $btn.data('id');
            var $spinner = $('#server-connect-progress' + id)
            $btn.hide();
            $spinner.show();
            setTimeout(function () {
                $spinner.hide();
                $btn.html('check_circle').removeClass('red-text').addClass('green-text').show();
            }, 1500);
        });
    </script>
{% endblock %}
